.panel-card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  z-index: 2;
}

.panel {
  display: block;
  position: absolute;
  min-width: 300px;
  width: 30%;
  max-width: 400px;

  &.left {
    top: 20px;
    left: 20px;
  }

  &.right {
    top: 20px;
    right: 20px;
  }

  .remove-attribute-button {
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .add-attribute-button {
    font-weight: bold;
    font-size: 24px;
    border: 1px solid #AAA;
    border-radius: 3px;
    color: #999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    min-height: 50px;
  }

  .add-attribute-button:hover {
    border-color: #0062cc;
    color: #0062cc;
  }

  .add-attribute-col {
    font-size: 10pt;
    padding: 10px 0 10px 0;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .add-attribute-col:hover {
    color: white;
    background: linear-gradient(#0062cc00 0%, #0062cc 5%, #0062cc 95%, #0062cc00 100%);
  }

  .query-buttons {
    display: flex;
    justify-content: space-evenly;
  }

}
