psycopg2
networkx
matplotlib
strsim
gevent

scipy
numpy
umap-learn

sklearn
pandas
requests

# To connect to Proteus/RAW
phoenixdb
jaydebeapi

# Flask server
# (Explicit versions due to incompatibilities between flask and flask-cache!)
Flask==0.12.5
flask-cors

# For persistent caching
# (Explicit versions due to incompatibilities between flask and flask-cache!)
Flask-Cache==0.13.1
Werkzeug==0.16.1
redis