psycopg2
networkx
matplotlib
strsim
gevent

scipy
numpy
umap-learn

sklearn
pandas
requests
aiohttp

# To connect to Proteus/RAW
phoenixdb
jaydebeapi

# Flask server
Flask
flask-cors

# For persistent caching
Flask-Caching
Werkzeug
redis