.panel-card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  z-index: 2;
}

.panel {
  display: block;
  position: absolute;
  min-width: 300px;
  width: 30%;
  max-width: 400px;

  &.left {
    top: 20px;
    left: 20px;
  }

  &.right {
    top: 20px;
    right: 20px;
  }
}
