SIMSEARCH_ENDPOINT=http://sdl-simsearch.magellan.imsi.athenarc.gr/simsearch/api/search
SIMSEARCH_CATALOG=http://sdl-simsearch.magellan.imsi.athenarc.gr/simsearch/api/catalog
SIMSEARCH_API_KEY=put-your-api-key-here