#survey-results{
  overflow: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#charts-task{
  overflow: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.survey-chart-div{
  overflow: hidden;
  width: 500px;
}

.comparison-background-inner{
  fill: #fdfdfd;
}

.comparison-background{
  fill: #fdfdfd;
  stroke-width: 2px;
  stroke: #242424;
  /*stroke: #cfcfcf;*/
}

.visLabel{
  fill: #242424;
  /*fill: #626567;*/
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-anchor: middle;
  alignment-baseline: central;
}

.comparison-caption{
  fill: #242424;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-anchor: middle;
  alignment-baseline: central;
}

.plusBin{
  fill: #7dcea0;
}

.plusPlusBin{
  fill: #1E8449;
}

.minusBin{
  fill: #D1948A;
}

.minusMinusBin{
  fill: #B03A2E;
}

.topVisBin{
  fill: #242424;
  /*fill: #1E8449;*/
  /*fill: #a2a2a2;*/
}
