<br><br>
<div class="container">
  <h3>v-plot Team</h3>
  <br/>
  <ul class="list-group list-group-flush" style="text-align: center;">
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-4">
          <img src="images/about/blumenschein.png" class="rounded-circle" alt="pic"/>
          <h4><a target="_blank" href="https://www.vis.uni-konstanz.de/en/members/blumenschein"><span class="name">Michael Blumenschein</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="https://www.vis.uni-konstanz.de/">Data Analysis <br/>and Visualization Group</a></span>
        </div>
        <div class="col-lg-4">
          <img src="images/about/debbeler.jpg" alt="pic"/>
          <h4><a target="_blank" href="http://www.health.uni-konstanz.de/people-page/luka-johanna-debbeler"><span class="name">Luka J. Debbeler</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="http://www.health.uni-konstanz.de">Psychological Assessment <br/> and Health Psychology</a></span>
        </div>
        <div class="col-lg-4">
          <img src="images/about/lages.jpg" class="rounded-circle" alt="pic"/>
          <h4><a target="_blank" href="http://www.health.uni-konstanz.de/people-page/nadine-lages"><span class="name">Nadine Lages</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="http://www.health.uni-konstanz.de">Psychological Assessment <br/> and Health Psychology</a></span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-4">
          <img src="images/about/renner.png" alt="pic"/>
          <h4><a target="_blank" href="http://www.health.uni-konstanz.de/people-page/britta-renner"><span class="name">Britta Renner</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="http://www.health.uni-konstanz.de">Psychological Assessment <br/> and Health Psychology</a></span><br/>
        </div>
        <div class="col-lg-4">
          <img src="images/about/keim.png" alt="pic"/>
          <h4><a target="_blank" href="https://www.vis.uni-konstanz.de/en/members/keim"><span class="name">Daniel A. Keim</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="https://www.vis.uni-konstanz.de/">Data Analysis <br/>and Visualization Group</a></span>
        </div>
        <div class="col-lg-4">
          <img src="images/about/menna.png" class="rounded-circle" alt="pic"/>
          <h4><a target="_blank" href="https://www.vis.uni-konstanz.de/en/members/el-assady"><span class="name">Mennatallah El-Assady</span></a></h4>
          <p>University of Konstanz</p>
          <span><a target="_blank" href="https://www.vis.uni-konstanz.de/">Data Analysis <br/>and Visualization Group</a></span><br/>
        </div>
      </div>
    </li>
  </ul>

  <div style="height: 30px;"></div>
  <h3>Funding</h3>
  <br/>
  <p class="text-justify">
    Our work was funded by the <a href="https://www.dfg.de/"> Deutsche Forschungsgemeinschaft </a> (DFG, German Research Foundation) within the projects
    <a href="http://www.sfbtrr161.de/research/project_a03/index.html">A3 of <b>TRR 161</b></a> (Project-ID 251654672),
    <a href="http://www.riskdynamics.uni-konstanz.de/">DFG Grant FOR 2374 <b>RiskDynamics</b></a>, and project
    <a href="https://www.exc.uni-konstanz.de/collective-behaviour/"> A3 of the <b>Centre of Excellence 2117 </b> </a> (Project-ID 422037984).
    Furthermore, our research was supported by the Federal Ministry of Education and Research (BMBF) within the Project <a href="https://www.uni-konstanz.de/smartact/"> <b>SmartAct</b></a> (Grant 01EL1420A)
    and by the European Union's Horizon 2020 research and innovation programme under grant agreement No 825041 (Project <a href="https://smartdatalake.eu/"><b>SmartDataLake</b></a>).
  </p>

</div>
