<div class="container-fluid">

	<h1>Usefulness of Visualizations</h1>

  <!-- Buttons to download the figures -->
  <!-- Disabled for website -->
  <!--
	<button svg-download='#data-survey-all-tasks' title="all-tasks" type="png">all tasks</button>
	<button svg-download='#data-survey-global-tasks' title="global-tasks" type="png">global tasks</button>
	<button svg-download='#data-survey-local-tasks' title="local-tasks" type="png">local tasks</button>
	<button svg-download='#data-survey-aggregated-tasks' title="aggregated-tasks" type="png">aggregated tasks</button>  </br>

	<button svg-download='#data-survey-G1' title="G1" type="png">G1</button>
	<button svg-download='#data-survey-G2' title="G2" type="png">G2</button>
  <button svg-download='#data-survey-G4' title="G3" type="png">G3</button>
	<button svg-download='#data-survey-G5' title="G4" type="png">G4</button>
	<button svg-download='#data-survey-G6' title="G5" type="png">G5</button> </br>
	<button svg-download='#data-survey-L7' title="L1" type="png">L1</button>
	<button svg-download='#data-survey-L8' title="L3" type="png">L3</button>
	<button svg-download='#data-survey-L9' title="L2" type="png">L2</button>
	<button svg-download='#data-survey-L10' title="L4" type="png">L4</button>
	<button svg-download='#data-survey-L11' title="L5" type="png">L5</button> </br>
	<button svg-download='#data-survey-G3' title="A1" type="png">A1</button>
	<button svg-download='#data-survey-G3' title="A2" type="png">A2</button>
	<button svg-download='#data-survey-G3' title="A3" type="png">A3</button>
	-->

	<!--<button svg-download='#data-survey-G3' title="A4" type="png">A4</button>
	<button svg-download='#data-survey-G3' title="A5" type="png">A5</button>
	<button svg-download='#data-survey-G3' title="A6" type="png">A6</button>
	<button svg-download='#data-survey-G3' title="A7" type="png">A7</button>
	<button svg-download='#data-survey-G3' title="A8" type="png">A8</button>
	<button svg-download='#data-survey-G3' title="A9" type="png">A9</button>
	<button svg-download='#data-survey-G3' title="A10" type="png">A10</button>-->

	<h3>Usefulness of Visualizations for Selected Tasks</h3>
	<div id="survey-results"></div>

	<hr>

	<h3> Usefulness of Tasks for each Visualization </h3>
	<div id="charts-task"></div>

</div>
